.about {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 15px;
    margin-bottom: 100px;

    @media (max-width: 969px) {
        justify-content: center;
    }

    span {
        color: #159947;
    }

    &__content {
        max-width: 700px;
    }

    &__title {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__sub-title {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.55;
        margin-bottom: 30px;
    }

    &__buttons {
        display: flex;
        gap: 20px;
        font-weight: 600;

        @media (max-width: 500px) {
            flex-direction: column;
            max-width: 201px;
        }
    }

    &__services-btn {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #159947;
        color: #159947;
        padding: 18px 55px;
    }

    &__сontact-btn {
        display: inline-block;
        background-color: #159947;
        color: #fff;
        padding: 18px 40px;
    }

    &__img {
        min-width: 450px;

        @media (max-width: 969px) {
            display: none;
        }
    }
}

.reviews {
    margin-bottom: 50px;

    &_-title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    &__sub-title {
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 90px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: 969px) {
            grid-template-columns: 1fr;
            grid-template-rows: 4;
            justify-items: center;
        }
    }

    &__content-item {
        padding: 65px 30px 30px;
        background-color: #f7f7f7;
    }

    &__content-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__content-text {
        font-size: 15px;
        line-height: 1.55;
    }

    &__btn {
        text-align: center;

        a {
            display: inline-block;
            padding: 20px 60px;
            font-size: 16px;
            color: #ffffff;
            background-color: #159947;
        }
    }
}
