.commodity {
  padding: 0 40px;
}
.commodity__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.commodity__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 15px;
  margin-bottom: 100px;
}
@media (max-width: 969px) {
  .commodity__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 230px;
  }
}
@media (max-width: 520px) {
  .commodity__content {
    margin-bottom: 300px;
  }
}
.commodity__content-item-images {
  max-width: 930px;
  width: 100%;
}
@media (max-width: 1200px) {
  .commodity__content-item-images {
    max-width: 680px;
  }
}
@media (max-width: 969px) {
  .commodity__content-item-images {
    max-width: 700px;
  }
}
.commodity__content-img {
  margin-bottom: 30px;
}
.commodity__content-img img {
  width: 100%;
  height: 506px;
}
@media (max-width: 500px) {
  .commodity__content-img img {
    height: 300px;
  }
}
.commodity__media {
  display: flex;
  gap: 15px;
}
@media (max-width: 969px) {
  .commodity__media {
    gap: 40px;
  }
}
@media (max-width: 969px) {
  .commodity__media-img {
    max-width: 330px;
  }
}
.commodity__content-item-info {
  position: relative;
  height: 683px;
}
@media (max-width: 1200px) {
  .commodity__content-item-info {
    height: 618px;
  }
}
@media (max-width: 969px) {
  .commodity__content-item-info {
    max-width: 720px;
    width: 100%;
    padding-top: 40px;
  }
}
.commodity__info-popup-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.508);
  z-index: 15;
}
.commodity__info-popup {
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 35vh auto;
  bottom: 135px;
  left: 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}
.commodity__info-popup p {
  font-size: 18px;
  margin-bottom: 10px;
}
.commodity__info-popup button {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .commodity__info-popup {
    left: 0;
  }
}
.commodity__info-popup-wrapper--active {
  display: block;
}
.commodity__info-title {
  padding: 13px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #797979;
}
@media (max-width: 1200px) {
  .commodity__info-title {
    padding: 12px 10px;
  }
}
.commodity__info-text {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #f7f7f7;
  margin-bottom: 3px;
}
@media (max-width: 1200px) {
  .commodity__info-text {
    padding: 12px 10px;
  }
}
.commodity__info-text--color {
  color: #159947;
  font-weight: 700;
}
.commodity__info-btns {
  margin-top: 20px;
}
@media (max-width: 520px) {
  .commodity__info-btns {
    flex-wrap: wrap;
  }
}
.commodity__info-btns-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 969px) {
  .commodity__info-btns-item {
    justify-content: center;
  }
}
.commodity__info-btns-item p {
  padding-top: 16px;
  font-size: 18px;
}
@media (max-width: 969px) {
  .commodity__info-btns-item--space {
    justify-content: space-between;
  }
}
.commodity__info-counter {
  width: 125px;
}
@media (max-width: 969px) {
  .commodity__info-counter {
    width: 100%;
  }
}
.commodity__info-counter-title {
  margin-bottom: 20px;
}
.commodity__info-counter__btns {
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #000;
}
.commodity__info-counter__btns input {
  width: 100%;
  font-size: 25px;
  background-color: #fff;
}
.commodity__info-counter-value {
  padding: 5px 0;
  font-size: 16px !important;
  text-align: center;
  background-color: #f0f0f0;
}
.commodity__info-counter-stock {
  height: 35px;
  width: 100%;
  height: 35px;
  margin-top: 14px;
  border-bottom: 1px solid #000;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (max-width: 969px) {
  .commodity__info-counter-stock {
    margin-top: 0;
  }
}
.commodity__info-btn {
  max-width: 187px;
  width: 100%;
  height: 40px;
  margin-top: 17px;
  padding: 12px 40px;
  color: #fff;
  background-color: #159947;
  cursor: pointer;
}
.commodity__properties-title {
  font-size: 16px;
  margin-bottom: 32px;
}
.commodity__properties-characteristics-info-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 720px) {
  .commodity__properties-characteristics-info-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
.commodity__properties-characteristics-info--margin-top {
  margin-top: 40px;
}
@media (max-width: 970px) {
  .commodity__properties-characteristics-info--margin-top {
    margin-top: 47px;
  }
}
@media (max-width: 720px) {
  .commodity__properties-characteristics-info--margin-top {
    order: 2;
    margin-top: 0;
  }
}
.commodity__properties-characteristics-info-item {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.commodity__properties-download-btns {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 200;
}
.commodity__properties-download-btns a {
  content: "";
  padding: 3px 5px 4px 25px;
  background-image: url(/icons/file.png);
  background-repeat: no-repeat;
}

.tab {
  display: none;
  padding: 20px;
  margin-bottom: 60px;
}

.tab.is-active {
  display: block;
}

.tabs-nav {
  display: flex;
  gap: 5px;
  text-align: center;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}

.tabs-nav__item {
  max-width: 200px;
  width: 100%;
  padding: 20px 0;
  color: #f7f7f7;
  background-color: #9e9e9e;
}

.tabs-nav__item.is-active {
  color: #22ad5c;
  background-color: rgba(34, 173, 92, 0.1);
  border-bottom: 3px solid #22ad5c;
}/*# sourceMappingURL=commodity.css.map */