.commodity {
    padding: 0 40px;

    @media (max-width: 500px) {
        padding: 0 10px;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 30px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 15px;
        margin-bottom: 100px;

        @media (max-width: 969px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 230px;
        }

        @media (max-width: 520px) {
            margin-bottom: 260px;
        }
    }

    &__content-item-images {
        max-width: 930px;
        width: 100%;

        @media (max-width: 1369px) {
            max-width: 680px;
        }

        @media (max-width: 1130px) {
            max-width: 600px;
        }

        @media (max-width: 969px) {
            max-width: 700px;
        }
    }

    &__content-img {
        max-width: 930px;
        width: 100%;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 506px;

            @media (max-width: 500px) {
                height: 300px;
            }
        }
    }

    &__media {
        display: flex;
        gap: 15px;

        @media (max-width: 969px) {
            gap: 40px;
        }
    }

    &__media-img {

        @media (max-width: 969px) {
            max-width: 330px;
        }
    }

    &__content-item-info {
        position: relative;
        height: 683px;

        @media (max-width: 1369px) {
            height: 618px;
        }

        @media (max-width: 1130px) {
            height: 600px;
            width: 340px;
        }

        @media (max-width: 969px) {
            max-width: 720px;
            width: 100%;
            padding-top: 40px;
        }
    }

    &__info-popup-wrapper {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.508);
        z-index: 15;
    }

    &__info-popup {
        position: relative;
        max-width: 600px;
        width: 100%;
        padding: 20px;
        margin: 35vh auto;
        bottom: 135px;
        left: 20px;
        border-radius: 5px;
        background: #fff;
        text-align: center;

        p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        button {
            margin-top: 20px;
        }

        @media (max-width: 800px) {
            left: 0;
        }
        
    }

    &__info-popup-wrapper--active {
        display: block;
    }

    &__info-title {
        padding: 13px 10px;
        font-size: 18px;
        color: #fff;
        background-color: #797979;

        @media (max-width: 1369px) {
            padding: 9px 10px;
        }

        @media (max-width: 1130px) {
            padding: 10px 10px;
        }
    }

    &__info-text {
        display: flex;
        justify-content: space-between;
        padding: 12px 10px;
        font-size: 16px;
        background-color: #f7f7f7;
        margin-bottom: 3px;

        @media (max-width: 1369px) {
            padding: 10px 10px;
        }

        @media (max-width: 1130px) {
            padding: 9px 10px;
        }
    }

    &__info-text--color {
        color: #159947;
        font-weight: 700;
    }

    &__info-btns {
        margin-top: 10px;
        padding: 5px;
        background-color: #f0f0f0;

        @media (max-width: 969px) {
            margin-top: 55px;
            padding: 30px 5px;
        }
    }

    &__info-btns-titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__info-btns-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (max-width: 969px) {
            justify-content: center; 
         }
    }

    &__info-counter {
        width: 125px;

        @media (max-width: 969px) {
            width: 100%;
        }
    }

    &__info-counter-title {
        width: 125px;

        @media (max-width: 969px) {
            width: 228px;
        }
        
    }

    &__info-counter__btns {
        height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #159947;


        input {
            width: 100%;
            font-size: 25px;
            background-color: #f0f0f0;
        }
    }

    &__info-counter-stock {
        height: 35px;
        width: 100%;
        border: 1px solid #159947;
        background-color: #f0f0f0;
        text-align: center;
        appearance: none;

        @media (max-width: 969px) {
            margin-top: 0;
        }
    }

    &__info-btns-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding-top: 15px;
            font-size: 18px;
        }
    }

    &__info-btn {
        max-width: 187px;
        width: 100%;
        height: 40px;
        margin-top: 17px;
        padding: 12px 40px;
        color: #fff;
        background-color: #159947;
        cursor: pointer;

        @media (max-width: 435px) {
            max-width: 119px;
            padding: 12px 6px;
        }
    }

    &__info-counter-value {
        padding: 5px 0;
        font-size: 16px !important;
        text-align: center;
        background-color: #f0f0f0;

        @media (max-width: 435px) {
            font-size: 13px !important;
        }
    }

    &__properties-title {
        font-size: 16px;
        margin-bottom: 32px;
    }

		&__properties-characteristics-info-wrapper {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            @media (max-width: 720px) {
                grid-template-columns: repeat(2, auto);
            }

            @media (max-width: 435px) {
                grid-template-columns: 1fr;
            }
            
            
		}

		&__properties-characteristics-info--margin-top {
            margin-top: 28px;

            :last-child {
                margin-bottom: 0;
            }

            @media (max-width: 720px) {
                order: 2;
                margin-top: 0;
            }

            @media (max-width: 435px) {
                order: 0;
                margin-bottom: 40px;
            }
		}

		&__properties-characteristics-info-item {
            display: flex;
            gap: 40px;
            margin-bottom: 20px;

            @media (max-width: 435px) {
                justify-content: space-between;
            }
		}

        &__properties-download-btns {
            display: flex;
            gap: 20px;
            font-size: 16px;
            font-weight: 200;

            a {
                content: '';
                padding: 3px 5px 4px 25px;
                background-image: url(/icons/file.png);
                background-repeat: no-repeat;
            }
        }
}

.tab {
    display: none;
    padding: 20px;
    margin-bottom: 60px;
}

.tab.is-active { display: block; }

.tabs-nav {
	display: flex;
	gap: 5px;
    text-align: center;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.tabs-nav__item {
    max-width: 200px;
    width: 100%;
    padding: 20px 0;
    color: #f7f7f7;
    background-color: #9e9e9e;
}

.tabs-nav__item.is-active {
    color: #22ad5c;
    background-color: rgba(34, 173, 92, 0.1);
    border-bottom: 3px solid #22ad5c;
}